---
import logo from "../../public/logo.png";
---

<header
  class="flex max-w-[1120px] mx-auto justify-between items-center py-3 opacity-90 text-white px-4"
>
  <img
    src={logo.src}
    alt="logo miguel marchant"
    class="w-12 h-12 rounded-full"
  />
  <nav class="hidden sm:flex gap-x-3">
    <a href="/">Home</a>
    <a href="/about">Sobre mí</a>
    <a href="/projects">Proyectos</a>
    <a href="/contact">Contacto</a>
  </nav>
</header>
