<section
  class="flex flex-col max-w-[1120px] mx-auto justify-between items-center py-3 opacity-90 text-white px-4 min-h-screen"
>
  <div class="text-white text-4xl">
    Hola, soy <span class="text-yellow-100">Miguel</span>
    <p class="text-xl">desarrollador web con +2 años de experiencia</p>
  </div>
</section>
